.membership {
    margin: 1rem 0 5rem 0;
}

.membership #text {
    padding: 0.8rem 0px;
    font-weight: lighter;
}

.membership #text a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.membership__options {
    margin: 2rem 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    justify-items: center;
}

.membership__options__card {
    /*gambiarra*/
    display: grid;
    justify-items: center;
}

.membership__options__card img {
    border-radius: 50%;
    height: 12rem;
    object-fit: cover;
    margin-bottom: 1.2rem;
    width: 12rem;
}

.membership__price {
    font-size: 1.3rem;
    margin-bottom: .4rem;
    font-weight: 500;
}

.membership__description {
    font-size: 1.1rem;
    font-weight: 500;
}

@media only screen and (max-width: 1200px) {
    .membership__options {
        grid-template-columns: repeat(2, 1fr);
    }

    .membership__options__card {
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 750px) {
    .membership__options {
        grid-template-columns: 1fr;
    }

    .membership__options__card {
        margin-bottom: 2rem;
    }

    .membership__options__card img {
        height: 10rem;
        width: 10rem;
    }
}